type vendor_sysfs_graphics, sysfs_type, fs_type;
type sysfs_usb_supply, sysfs_type, fs_type;

# RealmeHub
allow system_app vendor_sysfs_graphics:file { getattr open read };

# FPS Info
allow system_app sysfs:file { getattr open read };

# Gaming Mode
allow system_app proc_touchpanel:dir { search };
allow system_app proc_touchpanel:file { getattr open read write };

# Perf profile
get_prop(system_app, system_perf_prop)
allow system_app system_perf_prop:property_service set;

# OTG Tile
allow system_app sysfs_usb_supply:file { write };
