import /system/etc/init/init.realmehub.rc

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

    chown system system /sys/class/thermal/thermal_zone0/temp
    chown system system /sys/class/power_supply/battery/temp
    chown system system /sys/class/power_supply/battery/capacity
    chown system graphics /sys/kernel/gpu/gpu_clock
    chown system graphics /sys/kernel/gpu/gpu_busy
    chmod 0666 /sys/class/thermal/thermal_zone0/temp
    chmod 0666 /sys/class/power_supply/battery/temp
    chmod 0666 /sys/class/power_supply/battery/capacity
    chmod 0666 /sys/kernel/gpu/gpu_clock
    chmod 0666 /sys/kernel/gpu/gpu_busy
